@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
* {
    box-sizing: border-box;
  }
html{
  scroll-behavior: smooth;
}
body{
    font-family: 'Jost', sans-serif;
    background-color: #f0edeb;
    margin: 0;
    padding: 30px;
}

header{
    padding: 30px;
}

@media only screen and (max-width: 2000px) {

    .column {
      display: block;
    }
}
main{
  font-size: large;
}

.column {
    float: left;
    padding: 0 15px;
  }
  .row {margin: 0 -5px;}
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }
 footer {
   
  padding: 20px;
  color: black;
  background-color: #f0edeb;
;
}
footer > p{
  text-align: center;
}
footer> .container > #copyright{
  text-align: left;
}